<h1>share a new deal</h1>


<form action="/deals" method="post">
    <label for="">title (product name + model):</label><br>
    <input type="text" name = 'title'><br>

    <label for="">merchant: </label><br>
    <input type="text" name = 'merchant'><br>

    <label for="">original price:</label><br>
    <input type="text" name = 'original_price'><br>

    <label for="">sale price:</label><br>
    <input type="text" name = 'sale_price'><br>

    <label for="">coupon:</label><br>
    <input type="text" name = 'coupon'><br>

    <label for="">link:</label><br>
    <input type="text" name = 'url'><br>

    <label for="">image:</label><br>
    <input type="text" name = 'image_url'><br>

    <label for="">start date (e.g. 2024-12-30):</label><br>
    <input type="text" name = 'start_date'><br>

    <label for="">end date (e.g. 2024-12-30):</label><br>
    <input type="text" name = 'end_date'><br>

    <label for="">category:</label><br>
    <input type="text" name = 'category'><br>

    <label for="">description:</label><br>
    <textarea name = 'description'></textarea><br>
    
    <button>post</button>
</form>